<mat-toolbar color="primary" class="header-toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="drawer">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  
  <span class="logo">
    <mat-icon class="logo-icon">local_hospital</mat-icon>
    MediConnect
  </span>
  
  <span class="spacer"></span>
  
  <div class="header-actions">
    <button mat-icon-button (click)="navigateToSearch()" matTooltip="Search Patients">
      <mat-icon>search</mat-icon>
    </button>
    
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
    </button>
    
    <button mat-icon-button (click)="toggleTheme()" 
            [matTooltip]="isDarkTheme ? 'Switch to Light Mode' : 'Switch to Dark Mode'">
      <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="User Menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>